In [11]:
def fact(n):
    """fact(n) assumes n is a positive
    integer and returns facorial of n."""
    assert(n>0)
    return 1 if n==1 else n*fact(n-1)
fact(5)

120

In [1]:
def binary(list, item):
    low=0
    high = len(list)-1

    while low <= high:
        mid = (low + high)
        guess = list[mid]

        if guess == item:
            return mid
        if guess > item:
            high = mid - 1
        else:
            low = mid + 1
    return None

list = [1,3,5,7,9]

print(binary(list, 9))

4

In [17]:
x, y = 2, 3
x,y = y,x
print(x)
print(y)

3
2

In [2]:
import random
answer=random.randint(1,100)
wins=False
while not wins:
    guess= int(input("Your guess is: "))
    if guess==answer:
        print("You Win!!")
        wins=True
    elif guess>answer:
        print("too large")
        break
    else:
        print("too small") 
        break

You Win!!

In [17]:
print(ord("a") )
print(chr (66))
x="Christ "
y="University"
print(x+y)
print(x*3)
print(x[0:2])
print(x[3:6])
print(y [-6:-2])
print()

97
B
Christ University
Christ Christ Christ
Ch
ist
ersi

In [3]:
from turtle import *

bgcolor('black')
speed(0)
hideturtle()
for i in range(120):
    color('red')
    circle(i)
    color('orange')
    circle(i*0.8)
    right(3)
    forward(3)
done()

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv(r'E:\Salaries.csv')
df.head(n=5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L