In [10]:
import pandas as pd # To read csv
frame = pd.read_csv('E:/vgsales.csv') # Read csv into dataframe 
frame.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [11]:
frame.columns = ['Rank','Name','Platform', 'Year','Genre' ,'Publisher', 'NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
frame = frame.set_index('Rank')

In [12]:
frame.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [13]:
frame.tail(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16591,Mega Brain Boost,DS,2008,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16594,Myst IV: Revelation,PC,2004,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16595,Plushees,DS,2008,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [14]:
mean1 = frame['Global_Sales'].mean()
sum1 = frame['Global_Sales'].sum()
max1 = frame['Global_Sales'].max()
min1 = frame['Global_Sales'].min()
count1 = frame['Global_Sales'].count()
median1 = frame['Global_Sales'].median() 
std1 = frame['Global_Sales'].std() 
var1 = frame['Global_Sales'].var()

In [15]:
groupby_sum1 = frame.groupby(['Publisher']).sum() 
groupby_count1 = frame.groupby(['Publisher']).count()

In [16]:
print ('Mean Global_Sales: ' + str(mean1))
print ('Sum of Global_Sales: ' + str(sum1))
print ('Max Global_Sales: ' + str(max1))
print ('Min Global_Sales: ' + str(min1))
print ('Count of Global_Sales: ' + str(count1))
print ('Median Global_Sales: ' + str(median1))
print ('Std of Global_Sales: ' + str(std1))
print ('Var of Global_Sales: ' + str(var1))

Mean Global_Sales: 0.5375076830370594
Sum of Global_Sales: 8919.94
Max Global_Sales: 82.74
Min Global_Sales: 0.01
Count of Global_Sales: 16595
Median Global_Sales: 0.17
Std of Global_Sales: 1.5551591643241043
Var of Global_Sales: 2.4185200263812465

In [17]:
print ('Sum of values, grouped by Publisher: ' + str(groupby_sum1))
print ('Count of values, grouped by Publisher: ' + str(groupby_count1))

Sum of values, grouped by Publisher:                               NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Publisher
0                                 0.00      0.12      0.00         0.12
0.16                              0.00      0.20      0.01         0.38
10TACLE Studios                   0.07      0.04      0.00         0.00
1C Company                        0.01      0.07      0.00         0.02
20th Century Fox Video Games      1.82      0.10      0.00         0.01
...                                ...       ...       ...          ...
id Software                       0.02      0.00      0.00         0.00
imageepoch Inc.                   0.00      0.00      0.04         0.00
inXile Entertainment              0.02      0.06      0.00         0.01
mixi, Inc                         0.00      0.00      0.86         0.00
responDESIGN                      0.09      0.04      0.00         0.01

                              Global_Sales
Publisher
0                                     0.00
0.16                                  0.00
10TACLE Studios                       0.11
1C Company                            0.10
20th Century Fox Video Games          1.94
...                                    ...
id Software                           0.03
imageepoch Inc.                       0.04
inXile Entertainment                  0.10
mixi, Inc                             0.86
responDESIGN                          0.13

[580 rows x 5 columns]
Count of values, grouped by Publisher:                               Name  Platform  Year  Genre  NA_Sales  EU_Sales  \
Publisher
0                                2         2     2      2         2         2
0.16                             1         1     1      1         1         1
10TACLE Studios                  3         3     3      3         3         3
1C Company                       3         3     3      3         3         3
20th Century Fox Video Games     5         5     5      5         5         5
...                            ...       ...   ...    ...       ...       ...
id Software                      1         1     1      1         1         1
imageepoch Inc.                  2         2     2      2         2         2
inXile Entertainment             1         1     1      1         1         1
mixi, Inc                        1         1     1      1         1         1
responDESIGN                     2         2     2      2         2         2

                              JP_Sales  Other_Sales  Global_Sales
Publisher
0                                    2            2             0
0.16                                 1            1             0
10TACLE Studios                      3            3             3
1C Company                           3            3             3
20th Century Fox Video Games         5            5             5
...                                ...          ...           ...
id Software                          1            1             1
imageepoch Inc.                      2            2             2
inXile Entertainment                 1            1             1
mixi, Inc                            1            1             1
responDESIGN                         2            2             2

[580 rows x 9 columns]